extends layout

block content
 h1.title=title
 div.nav
    a(href="../view") View
 h2=message
 div.feedback
     if error != undefined
        each thing in error
            div.item #{thing}
 div.content
    form.center(action="/update", method="post", role="form")
       div
           label(for="firstName") First Name
           input(name="firstName" value="#{results.firstName}")
       div
           label.control-label(for="lastName") Last Name
           input#name.empty.form-control(name="lastName" value="#{results.lastName}")
       div
           label.control-label(for="department") Department
                input#name.empty.form-control(name="department" value="#{results.department}")
       div
           label.control-label(for="startDate") Start Date
               input#startDate.empty.form-control22(name="startDate" value="#{results.startDate}")
       div
           label.control-label(for="jobTitle") Job Title
               input#startDate.empty.form-control22(name="jobTitle" value="#{results.jobTitle}")
       div
           label(for="salary") Salary
               input(name="salary" value="#{results.salary}")
       div
           input(type="hidden" name="_id" value="#{results._id}")
           input(type="submit" value="Update Employee") 
